<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Övning 4</title>
  </head>
  <body ng-app="">
    <h1>Övning 4</h1>

    <div ng-init="count=0">
      <button ng-click="count = count + 10">+</button>
      {{ count }}
      <button ng-click="count = count - 10">–</button>
    </div>

    <script src="angular.js"></script>
  </body>
</html>
